@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background: #17a2b8;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 750px;
    margin:10px;
    background: #fff;
    border-radius: 10px;
    padding: 36px;
}

.board {
    border: 1.5px solid #c3c3c3;
    border-radius: 6px;
    padding: 10px 20px;
    height:100%;
}
.text-view {
    height: 85%;
    font-weight: 400;
    font-size: 19px;
    line-height: 33px;
    border-bottom: 1.5px solid #c3c3c3;
    padding-bottom: 20px;
}
.game-view{
    display:grid;
    grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 19px;
    padding-top:10px;
    text-align: center;
}

.game-status{
    border-right: 1.5px solid #c3c3c3;
}

.cpm {
    border:none;
}

.game-status span{
    font-weight:500;
}
button {
    border:none;
    outline:none;
    background:#17a2b8;
    color: #fff;
    border-radius: 6px;
    padding: 7px 18px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.next-letter {
    color: green;
}

.incorrect-letter {
    background: #ffc0cb;
    color: #d65157;
    border: 1px solid white;
    border-radius: 4px;
}

.current-letter {
    border-bottom: 1px solid #2baabe;
}

@media screen and (max-width:730px){
    .game-view{
        grid-template-columns: 1.2fr 1.2fr 1fr 1fr;
        row-gap:20px;
        font-size:14px;
        text-align:initial;
    }
    .game-status{
        border-right: none
    }    
    button{
        grid-column:span 4;
    }
}